#connexion-body {
  background: url("../img/fond-choix.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#main-body {
  background: url("../img/fond-choix.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#body-arene {
  background: url("../img/fond-arene.gif");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.formulaire {
  margin-top: 200px;
  margin-right: 200px;
}
.formulaire-text {
  font-family: "Ceviche One", cursive;
  font-size: 60px;
}

.but {
  color: white;
  text-decoration: none;
}
.but-case {
  background-color: #899E4C;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Ceviche One", cursive;
  font-size: 25px;
}
.but:hover {
  color: white;
  text-decoration: none;
}

.title-choice {
  font-size: 75px;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: "Ceviche One", cursive;
  text-shadow: black 1px 0 10px;
}

.cards {
  border-radius: 6px;
  margin-top: 100px;
  margin-left: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.8), 0 10px 10px rgba(0, 0, 0, 0.8);
}
.cards-img {
  padding: 10px;
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}
.cards-img img {
  width: 100%;
  height: auto;
}
.cards-text {
  font-size: 40px;
  font-family: "Ceviche One", cursive;
  text-align: center;
  text-shadow: black 1px 0 10px;
  color: white;
}
.cards-choix {
  text-align: center;
  margin: 10px;
}
.cards:hover {
  background-color: white;
}

.cardArene {
  border-radius: 6px;
  margin: 100px;
}
.cardArene-img {
  margin-top: 100px;
  padding: 10px;
  max-height: 400px;
  max-width: 400px;
  text-align: center;
  position: relative;
  z-index: 30;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}
.cardArene-img img {
  width: 100%;
  height: auto;
}
.cardArene-text {
  margin-top: 20px;
  font-size: 40px;
  font-family: "Ceviche One", cursive;
  text-align: center;
}

.icon {
  max-width: 90px;
  max-height: 90px;
  margin: 10px;
  margin: auto;
}

.icon-img {
  z-index: 30;
  position: absolute;
  max-width: 90px;
  max-height: 90px;
}

.icon-p {
  width: 90px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 40;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  text-shadow: black 1px 0 13px;
}

#bot {
  transform: rotateY(180deg);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
#poule-bot {
  display: none;
}

#poule-player {
  display: none;
}

.hidden-attack {
  position: absolute;
  z-index: 20;
  float: left;
  margin-top: 280px;
  margin-left: 30px;
}

#hidden-attack-bot {
  width: 200px;
  height: 150px;
}
#hidden-attack-player {
  width: 200px;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
