#connexion-body{
    background: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#main-body{
    background-color: black;
}

.formulaire{
    margin-top: 200px;
    margin-right: 200px;
    &-text{
        font-family: 'Ceviche One', cursive;
        font-size: 60px;
    }
}

.but{
    color: white;
    text-decoration: none;
    &-case{
        background-color: grey; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        font-family: 'Ceviche One', cursive;
        font-size: 25px;
    }
        &:hover{
            color: white;
            text-decoration: none;
        }

}

.cards{
    background-color: white;
    border-radius: 6px;
    margin-top: 200px;
    margin-left: 40px;
    &-img{
        padding: 10px;
        max-height: 400px;
        max-width: 400px;
    }

    &-text{
        font-size: 40px;
        font-family: 'Ceviche One', cursive;
        text-align: center;
    }

    &-choix{
        text-align: center;
        margin: 10px;
    }   
        &:hover{
            background-color: green;
        }
}

